body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--dark);
  color: whitesmoke;
}

/* Global styles */

* {
  box-sizing: border-box;
}

:root {
  --primaryColor: #0081af; /* 0, 129, 175 */
  /* --primaryColor : #615cfd; 0, 129, 175 */
  --accentColor: #e43f5a; /* 35, 206, 107 */
  --dark: #020100; /* 2, 1, 0*/
  --para: #798a9a;
  --fade: rgba(0, 129, 175, 0.5);
  --fadeText: rgba(255, 255, 255, 0.5);
  --border: rgba(143, 125, 125, 0.2);
  --cardBackground: rgba(8, 8, 8);
}

.backgroundFix {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: whitesmoke;
  transition: 0.5s all ease;
}
.container {
  width: 90%;
  margin: auto;
}
.icon {
  color: var(--accentColor);
  margin-right: 5px;
  transition: 0.5s all ease;
}
.descText {
  color: var(--para);
  font-size: 17px;
}
.flex-justify-sb {
  display: flex;
  justify-content: space-between;
}
.currentTab {
  font-size: 22px !important;
  color: var(--primaryColor) !important;
}

button {
  transition: 0.5s all ease;
  cursor: pointer;
  outline: none;
  padding: 12px;
  font-size: 15px;
  background-color: var(--accentColor);
  border: none;
  color: whitesmoke;
  border-radius: 35px;
  margin: 0px 20px;
}

input,
textarea {
  transition: 0.5s all ease;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  outline: none;
  color: var(--fadeText);
  padding: 10px;
  border-radius: 5px;
}
input::placeholder,
textarea::placeholder {
  color: var(--fadeText);
}

button:hover {
  background-color: rgba(0, 0, 0, 0.4) !important;
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: whitesmoke;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: whitesmoke;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: whitesmoke;
}

::selection {
  background: var(--accentColor); /* WebKit/Blink Browsers */
  color: whitesmoke;
}
::-moz-selection {
  background: var(--accentColor); /* Gecko Browsers */
  color: whitesmoke;
}

/* Message Notification style Section */

.notificationContainer {
  transition: 0.5s all ease;
  position: fixed;
  background-color: var(--cardBackground);
  width: auto;
  margin: auto;
  padding: 10px 15px;
  border-radius: 10px;
  z-index: 1000;
  bottom: -50px;
  left: 20px;
}
.notificationContainer p {
  color: whitesmoke !important;
  margin: 0px;
}

/* homepage style section  */

.homepageWrapper::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}
.homepageWrapper {
  position: relative;
  background-image: url("/images/homeBg.jpg");
  height: 800px;
  width: 100%;
  background-attachment: fixed;
}

.menuWrapper {
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10%;
  z-index: 4;
}
.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: whitesmoke;
}
.logo img {
  height: 70px;
  width: 100px;
  padding: 10px;
  cursor: pointer;
}
.logo .openNav {
  display: none;
}
.logo span {
  font-size: 25px;
  cursor: pointer;
}
.menuWrapper ul li {
  display: inline;
  margin: 10px 20px;
  color: whitesmoke;
  cursor: pointer;
  transition: 0.5s all ease;
}
.menuWrapper ul li:hover {
  color: var(--accentColor);
}

.jumbotron {
  color: #fff;
  position: absolute;
  top: 23%;
  left: 20%;
  right: 20%;
  text-align: center;
  font-size: 25px;
  background-color: rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(35, 206, 107, 0.1);
  border-right: 1px solid rgba(73, 139, 101, 0.1);
  padding: 20px;
}
.jumbotron button:first-child {
  background-color: var(--primaryColor);
}

.hello {
  font-weight: 900;
  font-size: 40px;
  margin-bottom: 0px;
  /* color : var(--accentColor); */
}
.name {
  font-size: 50px;
}
.f-2 {
  font-size: 30px;
}
.accent {
  color: var(--accentColor);
}
.primary {
  color: var(--primaryColor);
}

/* about me style section */

.aboutMeWrapper {
  margin: 100px 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.aboutMeWrapper button:first-child {
  background-color: var(--primaryColor);
  margin-left: 0px;
}
.aboutMeWrapper video {
  height: 500px;
  width: 100%;
  outline: none;
  background-color: transparent;
}
.aboutMeWrapper p {
  width: 87%;
}
.aboutMeDesc {
  width: 90%;
  margin: auto;
}
.aboutMeDesc h1 {
  margin: 0px;
}

/* skills section style */

.skillBg::before {
  position: absolute;
  content: "";
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
}
.skillBg {
  position: relative;
  background-image: url("/images/skillsBg.png");
  background-attachment: fixed;
  padding: 2% 0px;
}
.skillsWrapper {
  position: relative;
  text-align: center;
  margin-bottom: 100px;
}
.skillsWrapper header {
  margin: auto;
  width: 60%;
  margin-bottom: 40px;
}
.skillsWrapper .skillsContainer span {
  color: var(--accentColor);
  font-size: 60px;
}
.skillsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
}
.skillsWrapper .skills {
  border: 0.1px solid rgba(143, 125, 125, 0.2);
  padding: 20px 30px;
  border-radius: 10px;
}
.skillsWrapper .skills ul li {
  padding: 10px;
  border-bottom: 0.1px solid rgba(143, 125, 125, 0.2);
}
.skillsWrapper .skills ul li:last-child {
  border-bottom: none;
}
.skillsWrapper .skills {
  transition: 0.5s all ease;
}
.skillsWrapper .skills:hover {
  background-color: var(--fade);
  transform: translateY(-20px);
}

/* Portfolio section style */

.portfolioWrapper header {
  text-align: center;
  width: 50%;
  margin: auto;
}
.projects {
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}
.projectCover {
  position: relative;
  overflow: hidden;
}
.projectCover h2 {
  margin-bottom: 0px;
}
.portfolioTabs {
  text-align: center;
  margin-top: 50px;
}
.portfolioTabs .portfolioTab {
  cursor: pointer;
  transition: 0.3s all ease;
  color: var(--fadeText);
  margin-left: 10px;
}
.portfolioTabs span:not(:last-child) {
  margin-right: 30px;
}
.projectCover:hover > .overlay {
  transform: translateX(0%);
  visibility: visible;
}
.overlay {
  transition: 0.5s all ease;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  transform: translateX(-100%);
  overflow: hidden;
  visibility: hidden;

  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  text-align: center;
  padding: 10%;
  padding-top: 5%;
}
.overlay span {
  font-size: 30px;
}
.overlay button {
  /* margin-top: 20px; */
  border-radius: 5px;
}
.projectCover .projectType {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0px 15px;
}
.projectCover .projectType span {
  color: var(--primaryColor);
  font-size: 20px;
  margin-right: 5px;
}
.projectCover .projectType p {
  color: var(--fadeText);
  font-size: 14px;
}
.projectCover img {
  width: 20px;
  height: 20px;
}
.project {
  transition: 0.5s all ease;
  height: 400px;
  width: 100%;
}
.project::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
}
.projectCover:hover > .project {
  transform: scale(1.1);
}

/* services section style */

.servicesContainer::before {
  position: absolute;
  content: "";
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
}
.servicesContainer {
  position: relative;
  width: 100%;
  height: 550px;
  background-image: url("/images/slideOver.png");
  background-attachment: fixed;
  margin-top: 100px;
}
.servicesContainer header {
  margin-top: 50px;
}
.servicesContainer .serviceContent .icon {
  font-size: 50px;
}

.serviceTitle {
  position: relative;
}
.serviceTitle::after {
  position: absolute;
  bottom: -7px;
  left: 0;
  right: 0;
  content: "";
  width: 30px;
  height: 1px;
  background: #3e64ff;
  margin: 0 auto;
}
.servicesContent {
  position: relative;
  text-align: center;
  width: 80%;
  margin-top: -50px;
}
.services {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 35px;
}
.serviceContent {
  transition: 0.5s all ease;
  border-radius: 5px;
  padding: 13% 5%;
}
.serviceContent span {
  font-size: 40px;
}
.serviceContent p {
  color: var(--para);
  margin-top: 40px;
  font-size: 18px;
}
.serviceContent:hover {
  background-color: var(--fade);
  /* cursor: pointer; */
}

/* blogs section style */

/* .blogsWrapper  {
  width: 80%;
  margin: 100px auto;
}
.blogsWrapper header  {
  text-align: center;
}

.blogsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap : 30px;
}
.blogsContainer .blogContent .blogDetails {
  display: flex;
  justify-content: space-between;
}
.blogsContainer .blogContent .blogDetails .icon {
  margin: 0px 3px 0px 15px;
}
.blogDetails .authorName{
  margin-left: 0px;
  color : var(--accentColor);
}
.blogImg {
  background-image: url('/images/irisLens.jpg');
  height: 350px;
  width: 100%;
} */

.blogsWrapper {
  width: 80%;
  margin: 100px auto;
}
.blogsWrapper header {
  text-align: center;
  margin-bottom: 50px;
}
.blogsWrapper header .descText {
  width: 52%;
  margin: auto;
}
.blogsWrapper a {
  margin: 15px;
}
.blogsGrid1 {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.blogsGrid2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.blogsWrapper .blogImg::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}
.blogsWrapper .blogImg {
  position: relative;
  transition: 1s all ease;
  width: 100%;
  height: 350px;
}
.blogOverlay {
  position: absolute;
  bottom: 25px;
  left: 25px;
  z-index: 2;
  /* background-color: rgba(0,0,0,0.2); */
}
.blogOverlay h4 {
  margin-bottom: 5px;
  font-weight: 550;
}
.blogOverlay .icon {
  margin: 0px 3px 0px 15px;
}
.blogOverlay .authorName {
  margin: 0px 3px 0px 0px;
  color: var(--accentColor);
}
.blogDesc {
  color: #999;
  font-size: 14px;
}
.blogContent {
  overflow: hidden;
}
.blogContent:hover > .blogImg {
  background-position: bottom;
}
.blogContent:nth-child(odd):hover > .blogImg {
}

/* Resume section style */

.flex-justify-sb {
  /* move this style back to global later */
  display: flex;
  justify-content: space-between;
}
.resumeTabs {
  text-align: center;
}
.resumeTabs .icon {
  font-size: 25px;
}
.resumeTab {
  transition: 0.3s all ease;
  cursor: pointer;
  color: var(--fadeText);
  font-size: 18px;
  padding: 0px 10px;
}
/* .resumeTab:hover {
  color : var(--primaryColor);
  font-size: 20px;
} */
.resumeCardWrapper {
}
.resumeContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}

.resumeCard {
  padding: 2%;
  background-color: var(--cardBackground);
}
.resumeContainer .resumeCard:hover {
  /* box-shadow: 2px 2px 10px 5px rgba(9,9,9); */
  transform: translateY(-10px);
}
.resumeTitle {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 400;
}
.resumeDesc {
  color: var(--fadeText);
}

/* contact section style */

.contactWrapper {
  margin: 100px auto;
  word-wrap: break-word;
}
.contactHeader {
  font-weight: 400;
  position: relative;
  margin-bottom: 50px;
}
.contactHeader span {
  font-weight: 900;
}
.contactHeader::after {
  position: absolute;
  bottom: -7px;
  left: 0;
  right: 0;
  content: "";
  width: 30px;
  height: 1px;
  background: #3e64ff;
  margin: 0 auto;
}

.contactCards {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.contactCard {
  display: flex;
  align-items: center;
  transition: 0.3s all ease;
  background-color: var(--cardBackground);
  border-radius: 10px;
}
.contactCard h3,
.contactCard p {
  margin: 13px;
}
.contactCard p,
.contactCard a {
  font-size: 13px;
}
.contactCards .contactCard:hover {
  cursor: pointer;
  transform: rotate(5deg);
  box-shadow: 2px 2px 10px 5px rgba(9, 9, 9);
  border-right: 1px inset rgba(0, 129, 175, 0.2);
  border-bottom: 1px inset rgba(0, 129, 175, 0.2);
}
.contactCard:nth-child(even):hover {
  /* transform: rotate(-5deg); */
}
.contactCard .iconBg {
  width: 55px;
  height: 55px;
  background-color: var(--primaryColor);
  border-radius: 50%;
  margin: 0px 5px;
  font-size: 35px;
}
.contactCard .icon {
  margin: 0px;
}
.contactDetails {
  display: flex;
}
.contactLink {
  padding-right: 15px;
  word-break: break-all;
}

.contactFormContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  margin: 50px auto;
}
.formGroup input {
  width: 100%;
  height: 45px;
  margin-bottom: 25px;
}
.formGroup textarea {
  width: 100%;
  max-height: 250px;
  min-height: 220px;
  resize: vertical;
}
.formGroup input:focus,
.formGroup textarea:focus {
  border-color: var(--primaryColor);
}
.contactFormContainer .formGroup button {
  border-radius: 0px;
  width: 100%;
  margin: 0px;
}
.contactFormContainer .formGroup button:hover {
  background-color: var(--primaryColor) !important;
}
.contactImg {
  position: relative;
  margin-top: 50px;
  height: 80%;
  width: 100%;
  background-image: url("/images/about.jpg");
}
.contactImg::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
}

/* Footer Section style */

.footerWrapper {
  background-color: var(--cardBackground);
  padding: 30px 30px 10px 30px;
}
.footerWrapper .footerContents {
  display: flex;
  justify-content: space-around;
}
.footerLinks,
.footerSocials,
.footerTexts {
  margin: 0px 10px 10px 10px;
}
.footerWrapper .footerContents .footerLinks ul li {
  transition: 0.5s all ease;
  display: inline;
  margin: 0px 10px;
  cursor: pointer;
}
.footerWrapper .footerContents .footerLinks ul li:hover {
  color: var(--accentColor);
}
.footerContents span {
  transition: 0.5s all ease;
}
.footerContents .icon {
  color: var(--primaryColor);
  font-size: 25px;
  margin: 0px 10px;
  cursor: pointer;
}
.footerContents .icon:hover {
  color: var(--accentColor);
}

.footerContents .footerTexts,
.footerLinks .footerTexts * {
  color: var(--fadeText);
  font-size: 19px;
}

/* Responsiveness style section */

/* Media Querys */

@media (max-width: 1100px) {
  .aboutMeWrapper p {
    width: 100%;
  }

  @media (max-width: 1000px) {
    /* general */
    p {
      font-size: 14px !important;
    }
    /* nav section style */
    .logo .openNav {
      display: block;
    }
    .menuWrapper {
      display: block;
      overflow: hidden;
    }
    .menuWrapper ul li {
      display: block;
    }
    .menuLinks ul {
      overflow: hidden;
      background-color: rgba(8, 8, 8);
      height: auto;
      display: none;
    }
    /* jumbotron */
    .jumbotron {
      left: 10%;
      right: 10%;
      font-size: 20px;
    }
    .hello {
      font-size: 30px;
    }
    .name {
      font-size: 40px;
    }

    /* about me section */
    .aboutMeWrapper {
      display: block;
    }
    .aboutMeDesc header {
      margin-top: 30px;
    }
    .aboutMeWrapper video {
      height: 300px;
      background-image: url("/images/code.png");
    }

    /* portfolio */
    .portfolioWrapper header,
    .blogsWrapper .descText {
      width: 70% !important;
    }
    .portfolioWrapper header p,
    .blogsWrapper header p {
      font-size: 15px !important;
    }
    /* blogs */
    .blogsWrapper {
      width: 90%;
    }
    .blogsGrid1 {
      grid-template-columns: 1fr 1fr;
    }
    .blogsGrid2 {
      grid-template-columns: 1fr 1fr;
    }
    /* services */
    .servicesContent {
      width: 90%;
    }
    /* contact */
    .contactCards {
      width: 100%;
    }

    /* footer */
    .footerWrapper * {
      font-size: 15px !important;
    }

    /* 3rd media query */
    @media (max-width: 800px) {
      /* landing section */

      .homepageWrapper {
        height: 650px;
      }
      .jumbotron {
        left: 5%;
        right: 5%;
      }
      /* skill section */
      .skillsContainer {
        display: block;
        width: 70%;
        margin: auto;
      }
      .skillsWrapper .skills {
        margin: 40px 0px;
      }
      /* portfolio section */
      .projects {
        display: block;
      }
      .project {
        margin: 20px 0px;
      }

      /* service section */

      .servicesContainer {
        height: auto;
      }
      .services {
        display: block;
        width: 70%;
        margin: auto;
      }
      .serviceContent {
        margin: 10px 0px;
      }
      .serviceContent:last-child {
        margin-bottom: 30px;
      }
      /* blogs section */
      .blogsGrid1 {
        display: block;
      }
      .blogsGrid2 {
        display: block;
      }

      /* resume section */
      .resumeContainer {
        display: block;
      }
      .resumeContainer a {
        display: block;
      }
      .resumeCard {
        margin: 20px 0px;
      }
      /* contact section */
      .contactCard {
        padding-top: 10px;
      }
      .contactDetails {
        display: block;
        text-align: center;
      }
      .contactLink {
        padding: 0px;
      }
      /* footer section */
      .footerWrapper .footerContents {
        flex-wrap: wrap;
        text-align: center;
      }

      @media (max-width: 700px) {
        /* landing */
        /* jumbotron */
        .jumbotron {
          left: 5%;
          right: 5%;
        }
        .hello {
          font-size: 20px;
        }
        .name {
          font-size: 25px;
        }
        .homepageWrapper button {
          margin-top: 20px;
        }

        /* skill section */
        .skillsWrapper header {
          width: 90%;
        }
        /* contact section */
        .contactCards {
          display: block;
        }
        .contactCard {
          margin: 30px 0px;
        }
        .contactFormContainer {
          display: block;
        }
        .contactImg {
          display: none;
        }

        @media (max-width: 500px) {
          .homepageWrapper {
            height: 570px;
          }
          .skillsContainer,
          .services {
            width: 90%;
          }
          .portfolioWrapper header,
          .blogsWrapper .descText {
            width: 90% !important;
          }
          .resumeTabs span {
            display: block;
            margin: 20px;
          }
          .resumeTabs span:nth-child(odd) {
            /* margin-left: -30%; */
            text-align: left;
          }
          .resumeCardWrapper {
            margin-top: 30px;
          }
          .contactHeader {
            font-size: 18px;
          }
        } /*500*/
      } /*700*/
    } /*800*/
  } /*1000px*/
} /*1100px*/
